<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">·跑··过···</h1>
       <p class="slogan">
         記錄奔跑時刻與你路過的點滴印記
         <br>
         急速解決您的跑步日記憂慮
         <br>
         極簡流程訂製您的專屬跑記
       </p>
     </div>
   </div>
 </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">个人锻炼<br>跑步日记</h2>
          <p class="lead">成长不是一句空话，拉长来看每日变化</p>
       <p class="lead">
         <%= link_to '看看写写', new_pp1_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">集体训练<br>活动记录</h2>
          <p class="lead">一起流汗一起嗨，留下记录留下痕</p>
       <p class="lead">
         <%= link_to '看看写写', products_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">参加比赛<br>赛事回忆</h2>
          <p class="lead">路過的人见到的事，总有值得回忆的点滴</p>
       <p class="lead">
         <%= link_to '看看写写', products_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
