<div class="col-md-12">
   <div class="row box">
     <div class="box-head col-md-8 col-md-offset-2">
       <h1 class="title">
         你
         <big>用</big>
         <big><big>心</big></big>
         <big><big><big><big> 跑过 </big></big></big></big>
         <big><big>我</big></big>
         <big>记</big>
         得
       </h1>
     </div>
     <div class = "row">
    <div class="box-description col-md-6 col-md-offset-3">
       <p class="slogan">
         听说你在跑步
<br>
         也在发朋友圈，晒跑步照吧
<br>
         … …
<br>
         APP记录，截屏发出；朋友点赞，却评论很少
<br>
<span style= "font-weight: 900;">
        大家都一样，你并不孤独
      </span>
<br>
         … …
<br>
         来我们这里写跑步记录吧
<br>
         我们有技术，帮你快乐写作
<br>
         我们有前辈，带你健康自虐
<br>
         我们有同道，看你认真体会
<br>
         跑过的路，洒过的汗，都不会背叛你
<br>
  <span style= "font-weight: 900;">
         只要我们一起，用心过
      </span>

<!--

         你爱跑步，我也是<br>
         十五年跑龄，六百篇跑记，也许是最懂跑者的跑者<br></br>
         你怕写字，我也是<br>
         跑过就算了，或者用软件，大致记录里程发朋友圈
         你怕写字，我也是<br>
         跑过就算了，或者用软件，大致记录里程发朋友圈 -->

       </p>
     </div>
   </div>
 </div>

  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">个人锻炼<br>跑步日记</h2>
          <p class="lead">成长不是一句空话，拉长来看每日变化</p>
          <hr class="section-heading-spacer">
       <p class="lead">
         <%= link_to '更多详情', products_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag '个人跑记.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">集体训练<br>活动记录</h2>
          <p class="lead">一起流汗一起嗨，留下记录留下痕</p>
          <hr class="section-heading-spacer">
       <p class="lead">
         <%= link_to '更多详情', products_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag '集体训练.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">参加比赛<br>赛事回忆</h2>
          <p class="lead">路过的人见到的事，总有值得回忆的点滴</p>
          <hr class="section-heading-spacer">
       <p class="lead">
         <%= link_to '更多详情', products_path, class: 'btn btn-danger' %>
       </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag '参赛记录.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
