
<%= simple_form_for @pp1 do |f| %>
  <div class="form_group">
    <%= f.input :date, :label => "今天的日期是？", :placeholder => "请输入今天的日期，例如：2017年5月23日", input_html: { class: "form_control" } %>
    <%= f.input :week, :label => "今天是星期几？", :collection => ["周一","周二","周三","周四","周五","周六","周日"], :selected => "周六"  %>


    <%= f.input :yinli, :label => "农历日期是？", :placeholder => "请输入今天的农历日期，例如：四月廿八", input_html: { class: "form_control" } %>
    <%= f.input :weather, :label => "天气如何？", :collection => ["晴天","阴转多云","小雨","多云","大风"], :selected => "晴天"  %>

    <%= f.input :begin_time, :label => "出发时具体时间？", :placeholder => "请输入今天出发时具体时间，例如：清晨5点10分",  input_html: { class: "form_control" } %>
    <%= f.input :finish_time, :label => "结束时具体时间？", :placeholder => "请输入今天结束时具体时间，例如：清晨6点半",  input_html: { class: "form_control" } %>
    <%= f.input :from_where, :label => "从哪个地方开始跑步？", :placeholder => "请输入开跑时的地点，例如：小区对面的公园",  input_html: { class: "form_control" } %>
    <%= f.input :how_to_go, :label => "通过什么方式到达该跑步地点？", :placeholder => "请输入到达上述地点的方式，例如：小跑热身",  input_html: { class: "form_control" } %>
    <%= f.input :main_place, :label => "主要跑步地点", :placeholder => "请输入您主要跑步的地点，例如：公园，附近校园操场等",  input_html: { class: "form_control" } %>
    <%= f.input :run_begin_time, :label => "开跑时几点钟？", :placeholder => "请输入今天的开跑时的几点，例如：5点30分",  input_html: { class: "form_control" } %>
    <%= f.input :run_finish_time, :label => "完成时几点钟？", :placeholder => "请输入今天的完成时是几点，例如：6点10分",  input_html: { class: "form_control" } %>
    <%= f.input :how_long_time, :label => "完成跑步花费多少时间？", :placeholder => "请输入今天跑步一共花费多长时间，例如：40分钟",  input_html: { class: "form_control" } %>
    <%= f.input :how_long_kilos, :label => "完成多少公里？", :placeholder => "请输入今天跑步一共完成多少公里，例如：10（必须为数字）",  input_html: { class: "form_control" } %>

    <%= f.input :weather, :label => "今天跑步做拉伸了吗？", :collection => ["做了","没做"], :selected => "做了"  %>
    <%= f.input :how_to_go_back, :label => "通过什么方式返回？", :placeholder => "请输入跑完后的返回方式，例如：快走、走路、乘公交等", input_html: { class: "form_control" } %>
    <%= f.input :back_to_where, :label => "跑步完成后去了什么地方？", :placeholder => "例如：家里，公司等", input_html: { class: "form_control" } %>
    <%= f.input :about_people, :label => "人：", :placeholder => "和谁一起跑，聊了什么？见到了谁？", input_html: { class: "form_control" } %>
    <%= f.input :about_ideas, :label => "想：", :placeholder => "跑动中脑子里盘算出什么解法？还是什么也没想，只感受身体本身？", input_html: { class: "form_control" } %>
    <%= f.input :about_serendipities, :label => "遇：", :placeholder => "遇到了什么有趣的见闻？", input_html: { class: "form_control" } %>
    <%= f.input :about_others, :label => "它：", :placeholder => "其他想记下来的话？", input_html: { class: "form_control" } %>



  </div>
    <%= f.submit "提交", class: "btn btn-primary", data: { :disable_with => '接收中……' } %>
<% end %>
