<%= simple_form_for @pp1 do |f| %>
  <div class="form_group">
    <%= f.input :date, :label => "今天的日期是？", :placeholder => "请输入今天的日期，例如：2017年5月23日", input_html: { class: "form_control" } %>
    <%= f.input :week,:label => "今天是周几？", :placeholder => "请输入今天是周几，例如：周二",  input_html: { class: "form_control" } %>
    <%= f.input :yinli, :label => "农历日期是？", :placeholder => "请输入今天的农历日期，例如：四月廿八", input_html: { class: "form_control" } %>
    <%= f.input :weather, :label => "天气如何？", :placeholder => "请输入今天的天气，例如：阴转多云",  input_html: { class: "form_control" } %>
    <%= f.input :begin_time, :label => "出发时具体时间？", :placeholder => "请输入今天出发时具体时间，例如：清晨5点10分",  input_html: { class: "form_control" } %>
    <%= f.input :finish_time, :label => "结束时具体时间？", :placeholder => "请输入今天结束时具体时间，例如：清晨6点半",  input_html: { class: "form_control" } %>
    <%= f.input :from_where, :label => "从哪个地方开始跑步？", :placeholder => "请输入开跑时的地点，例如：小区对面的公园",  input_html: { class: "form_control" } %>
    <%= f.input :how_to_go, :label => "通过什么方式到达该跑步地点？", :placeholder => "请输入到达上述地点的方式，例如：小跑热身",  input_html: { class: "form_control" } %>
    <%= f.input :main_place, :label => "主要跑步地点", :placeholder => "请输入您主要跑步的地点，例如：公园，附近校园操场等",  input_html: { class: "form_control" } %>
    <%= f.input :run_begin_time, :label => "开跑时几点钟？", :placeholder => "请输入今天的开跑时的几点，例如：5点30分",  input_html: { class: "form_control" } %>
    <%= f.input :run_finish_time, :label => "完成时几点钟？", :placeholder => "请输入今天的完成时是几点，例如：6点10分",  input_html: { class: "form_control" } %>
    <%= f.input :how_long_time, :label => "完成跑步花费多少时间？", :placeholder => "请输入今天跑步一共花费多长时间，例如：40分钟",  input_html: { class: "form_control" } %>
    <%= f.input :how_long_kilos, :label => "完成多少公里？", :placeholder => "请输入今天跑步一共完成多少公里，例如：10（必须为数字）",  input_html: { class: "form_control" } %>
    <%= f.input :stretch_or_not, :label => "今天跑步做拉伸了吗？", :placeholder => "请输入：做了／没做",  input_html: { class: "form_control" } %>
    <%= f.input :how_to_go_back, :label => "通过什么方式返回？", :placeholder => "请输入跑完后的返回方式，例如：快走、走路、乘公交等", input_html: { class: "form_control" } %>
    <%= f.input :back_to_where, :label => "跑步完成后去了什么地方？", :placeholder => "例如：家里，公司等", input_html: { class: "form_control" } %>
    <%= f.input :about_people, :label => "人：", input_html: { class: "form_control" } %>
    <%= f.input :about_ideas, :label => "想：", input_html: { class: "form_control" } %>
    <%= f.input :about_serendipities, :label => "遇：", input_html: { class: "form_control" } %>
    <%= f.input :about_others, :label => "它：", input_html: { class: "form_control" } %>

  </div>
    <%= f.submit "提交", class: "btn btn-primary", data: { :disable_with => '接收中……' } %>
<% end %>
