<h2> 跑记列表 </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增跑记", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>

听说你在跑步？
<br></br>
那么你也在发朋友圈，晒跑步照吗？
<br></br>
是的，我跑，我发。
<br></br>
我总是发app截屏，收割一些点赞，但从来没有评论。
<br></br>
我没想过自己的感受是什么，人家也不知道我的感受是什么。
<br></br>
<br></br>
我懒，人家也懒。
<br></br>
两方面都同样，不用心～
<br></br>
<hr>
来我们这里写跑步记录吧！
<br></br>
我们有技术，帮你快乐地写作。
<br></br>
我们有前辈，带你健康地自虐。
<br></br>
我们有同道，看你认真的体会。
<br></br>
<br></br>
跑过的路，洒过的汗，都不会背叛你。
<br></br>
只要我们一起，用心过～
<br></br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">产品模版图片</th>
      <th>产品名称</th>
      <th>产品价格</th>
      <th width="100">产品选项</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
