
<div class="col-md-12">
   <div class="row box_product">
     <div class="box-head col-md-8 col-md-offset-2">
      <p class="slogan">
       我们提供模版，你来选择模版。
      <br>
       我们保存纪录，你来观赏纪录。
      <br>
       我们掌握技术，你来利用技术。
       </p>
     </div>
     <div class="box-description col-md-8 col-md-offset-2">
       <% @products.each do |product| %>
         <div class="col-lg-4 col-xs-6 col-md-3">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
          <%= product.title %> ￥ <%= product.price %>
        </div>
      <% end %>
    </div>
   </div>
