<div class="row">
   <%= render "common/flashes" %>
  <div class="col-md-5 col-md-offset-1">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-5 col-md-offset--1">
    <div class="pull-right" style="margin: 24px 4px 30px 4px;">
      <%= link_to("批量订购", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger btn-lg") %>
      <%= link_to("开始定制", new_product_pp1_path(@product), :class => "btn btn-danger btn-lg") %>
    </div>
    <h2> <%= @product.title %> </h2>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <!-- <div style="height:100px;"> -->
    <div>
      <p>
        <%= markdown(@product.description)%>
      </p>
    </div>

  </div>
</div>
<div class="row">
  <div class="panel panel-danger col-lg-10 col-lg-offset-1" style="margin-top: 20px;">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= @product.title %>产品样例
  </div>
  <div class="panel-body">
    <p> <%= markdown(@product.example)%> </p>
  </div>
</div>
</div>
